{% extends "base.html" %}
{% block title %}{{ exercise_type|capitalize }} - Ego Rank{% endblock %}
{% block content %}
    <h1 class="text-center">{{ exercise_type|capitalize }}</h1>
    {% if forecast_message %}
    <div class="alert alert-info text-center">
        {{ forecast_message }}
    </div>
    {% endif %}
    <form method="POST" action="{{ url_for('exercise', exercise=exercise_type) }}">
        <div class="form-group">
            <label for="increment">Inserisci il miglioramento settimanale per {{ exercise_type|capitalize }}:</label>
            <input type="number" step="0.1" class="form-control" name="increment" id="increment" required>
        </div>
        <button type="submit" class="btn btn-primary">Aggiorna progressione</button>
    </form>
    <h3 class="mt-4">Classifica per {{ exercise_type|capitalize }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Posizione</th>
                <th>Username</th>
                <th>Punteggio</th>
                <th>Titolo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in ranking_users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.score }}</td>
                <td>{{ user.title }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
